<div [formGroup]="form">
    <mat-form-field>
        <label for="password">Password</label>
        <input formControlName="password" matInput type="password" id="password" />
        <mat-error *ngIf="passwordControl.touched && passwordControl.hasError('required')" class="error">
            Esté campo debe tener mínimo  caracteres
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <label for="confirm-password">Confirm Password</label>
        <input formControlName="confirmPassword" matInput type="password" id="confirm-password" />
        <mat-error *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('required')" class="error">
            Esté campo debe tener mínimo  caracteres
        </mat-error>
    
        <mat-error *ngIf="passwordControl.touched && confirmPasswordControl.touched && form.hasError('missmatch')" class="error">
            Las contraseñas deben coincidir entre si
        </mat-error>
    </mat-form-field>
  </div>