<form [formGroup]="form" (ngSubmit)="saveForm($event)">
  <div class="row">
    <div class="col-xs">
      <mat-form-field>
        <input placeholder="Name" formControlName="name" matInput type="text">
        <div class="messages" *ngIf="form.controls['name'].touched && form.controls['name'].invalid">
          <mat-error *ngIf="form.controls['name'].hasError('required')">
            Este campo es requerido
          </mat-error>
          <mat-error *ngIf="form.controls['name'].hasError('minlength')">
            Esté campo debe tener minimo  caracteres
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <mat-form-field>
        <input placeholder="Last name" formControlName="last_name" matInput type="text">
        <div class="messages" *ngIf="form.controls['last_name'].touched && form.controls['last_name'].invalid">
          <mat-error *ngIf="form.controls['last_name'].hasError('required')">
            Este campo es requerido
          </mat-error>
          <mat-error *ngIf="form.controls['last_name'].hasError('minlength')">
            Esté campo debe tener minimo  caracteres
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <app-stock formControlName="stock"></app-stock>
    </div>
  </div>
  <app-password formControlName="password"></app-password>
  <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
</form>

<p>
  Form is {{form.valid ? 'Valid' : 'Invalid'}}
</p>
<pre>
  {{form.value | json}}
</pre>